.title {
	font-size: medium;
	color: #8b4513;
	font-family: Times New Roman,Georgia,Times;
}
.main {
	font-family: Times New Roman,Georgia,Times;
}
.credit {
	font-size: smaller;
	font-family: Verdana;
	color: #8b4513;
}
BODY {
	background-color: #ffe4c4;
	color: black;
}
a:link { color: #006400; }
a:visited { color: #006400; }
a:active { color: #006400; }
